.heading{
    font-size: 23px;
    width: 100%;
    margin: 0px;
    box-shadow:10px 10px 10px teal;
    text-shadow:2px 2px indigo;
    color: lightcoral ;
    padding: 15px;
}
body{
    background-size: cover;
}
.note{
    font-size: 15px;
    color: darkorchid;
    text-shadow:2px 1px darkred;
}
#song{
background-color: cyan ;
font-size: 15px;
margin: 15px;
padding: 10px;
box-shadow:3px 5px 2px blueviolet;
}
canvas{
    border: 5px solid crimson;
    border-radius: 20px;
    box-shadow:5px 5px 10px darksalmon;
    margin: 80px;
}